/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/resources/icons
/storage/*.key
/storage/pail
/vendor
.env
.env*.bak
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/docker/cloudflared/data
/.claude/settings.local.json
/resources/icons
*.pid